<div class="body_affiliate_program">
<div class="affiliate_program_offer">
  <div class="affiliate_program_offer_title">
    Welcome to affiliates program!
  </div>
  <div class="affiliate_program_offer_promotion">
      <% if current_user.tracking_id == nil %>
      CREATE YOUR PARTNER ID
        <%= form_for (@user), url: tracking_id_user_path(@user), method: :post do |u| %>
          <%= u.text_field :tracking_id %>
          <%= u.submit "Save" %>
        <% end %>
      <% else %>
          YOUR PARTNER LINK
          <br>
            <textarea class="js-copytextarea"><%= @affiliate_link %></textarea>
            <br>
            <button class="js-textareacopybtn">Copy</button>
<!-- ******************** START of Copy to clipboard script ***************************** -->
          <script>
            var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

            copyTextareaBtn.addEventListener('click', function(event) {
            var copyTextarea = document.querySelector('.js-copytextarea');
            copyTextarea.select();

            try {
              var successful = document.execCommand('copy');
              var msg = successful ? 'successful' : 'unsuccessful';
              console.log('Copying text command was ' + msg);
            } catch (err) {
              console.log('Oops, unable to copy');
            }
            });
          </script>
<!-- ******************** END of Copy to clipboard script ***************************** -->
      <% end %>
  </div>
  <div class="affiliate_program_offer_title">
    How the affiliate program works
  </div>
  <div class="affiliate_program_offer_promotion">
    #1
    <br>
    Create a ZweiDesign Account. Then send traffic to the Find & hire page while adding your partner id to the end of the URL. Don't sign up for an affiliate program because there's a high commission rate. Sign up for a program if you like our services. Remember, your name is behind this and your clients are counting on your to be the tastemaker and seal of approval. It's your reputation on the line here.
    <br>
    <br>
    #2
    <br>
    Once you sign up for a program, how are you going to start making money? Will you just use these affiliate links on your blog/social media channels as a tastemaker by creating mood boards? Will you use them for your design projects? Figure out how you can best use them to your advantage.
    <br>
    <br>
    One idea is to create a search engine optimized blog post about the "Renovate apartment in Berlin under €1000". And maybe throw in some ideas and links for readers to compare prices of talented pros with ZweiDesign.
    <br>
    <br>
    #3
    <br>
    There's a ton of ways you can make this work for your business. How are you using affiliates currently? Let us know if you need more inspiration, feedback or help!    <br>
    <br>
  </div>
  <div class="affiliate_program_offer_title">
    Find out more
  </div>
  <div class="affiliate_program_offer_promotion">
    To help you along, we've summarized a few of the key Do's and Don'ts below but for detailed information we are available on our email contact@zweidesign.co
  </div>
  <table class="affiliate_program_offer_sosed_info">
    <tr class="affiliate_program_offer_sosed_info_price">
      <td>DO:</td>
      <td></td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Link to your affiliate link on your social media posts. For Pinterest, Facebook, Instagram and similar, feel free to use photos from our page or our social media profiles.
      </td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Create SEO friendly blog posts or a guest blog to write about an area of interest that is related to the architecture, interior design and construction services you're marketing.
      </td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Use your site to feature an item, using your referral link. This could be a post, a sidebar widget, or an article./td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Use targeted banner ads for ZweiDesign services. If you need help with creating them, please let us know.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Promote new projects and providers on ZweiDesign. To see what's new, you can follow our ZweiDesign page.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Design a page or site that is unique in design and isn't going to confuse anyone about your purpose as an affiliate.</td>
    </tr>
  </table>
  <table class="affiliate_program_offer_sosed_info">
    <tr class="affiliate_program_offer_sosed_info_price">
      <td>DON'T:</td>
      <td></td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Confuse consumers with misinformation.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Send unsolicited email or other messaging that in any way may constitute spam.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Do anything that would amount to a breach of any laws including, but not limited to, privacy, intellectual property and spam.</td>
    </tr>
    <tr class="affiliate_program_offer_sosed_info_item">
      <td></td>
      <td>Engage in any conduct that does not meet our standards of 'fair play' including things like fraud, confusing the new user, or providing a link designed to mislead the customer.</td>
    </tr>
  </table>
</div>
</div>
