<div class="body_affiliate_program">
<div class="affiliate_program_offer">
  <div class="affiliate_program_offer_title">
    <%= link_to "Become an affiliate", new_user_registration_path %>
  </div>
  <div class="affiliate_program_offer_promotion">
    Are you the owner/manager of a popular blog or online magazine? Or an interior designer/architect/construction pro who regularly outsources her/his work to others?
    <br>
    Great News! ZweiDesign has created an affiliate program to reward our partners for connecting their clients’ needs with our pros.  </div>
  <div class="affiliate_program_offer_title">
    How the affiliate program works
  </div>
  <div class="affiliate_program_offer_promotion">
    Step #1
    <br>
    <br>
    Create a ZweiDesign Account. Then send traffic to the Find & hire page while adding your partner id to the end of the URL. Don't sign up for an affiliate program because there's a high commission rate. Sign up for a program if you like our services. Remember, your name is behind this and your clients are counting on your to be the tastemaker and seal of approval. It's your reputation on the line here.
    <br>
    <br>
    Are you ready?
    <br>
    <br>
    <%= link_to "Create an account", new_user_registration_path %>
  </div>
  <div class="affiliate_program_offer_promotion">
    Step #2
    <br>
    <br>
      Once you sign up for a program, how are you going to start making money? Will you just use these affiliate links on your blog/social media channels as a tastemaker by creating mood boards? Will you use them for your design projects? Figure out how you can best use them to your advantage.
      <br>
      <br>
      One idea is to create a search engine optimized blog post about the "Renovate apartment in Berlin under €1000". And maybe throw in some ideas and links for readers to compare prices of talented pros with ZweiDesign.
      <br>
      <br>
  </div>
  <div class="affiliate_program_offer_promotion">
    Step #3
    <br>
    <br>
      When a new user clicks your partner link and places an order, pros in our database are notified. When a certain pro decides to contact a customr and purchases the lead (or deposits money), you will receive 25% commission.
      <br>
      <br>
      If they deposit €200 into their account, you get €50. If they buy leads worth €100, you get €25.
      There's a ton of ways you can make this work for your business. How are you using affiliates currently? Let us know if you need more inspiration, feedback or help!    <br>
    <br>
    Create an account!
    <br>
    <br>
    <%= link_to "Get started", new_user_registration_path %>
  </div>
  <br>
  <br>
  <div class="affiliate_program_offer_title">
    5 reasons to work with us
  </div>
  <div class="affiliate_program_offer_promotion">
    #1
    <br>
    We offer your reader/client to reach out to many talented architects, interior designers and construciton pros in their region through one simple form. And for free.
    <br>
    <br>
    #2
    <br>
    Users then receive free offers, can compare prices and choose the best deal for them.
    <br>
    <br>
    #3
    <br>
    Reward yourself with commission when our pros decide to bid with their offers.
    <br>
    <br>
    #4
    <br>
    Working on a tight timeline? Our affiliate program does everything automagically. At the end of the month, you just receive extra €€ in your pocket.
    <br>
    <br>
    #5
    <br>
    You and your client can also enjoy free consulting for any field related to ZweiDesign.
    <br>
    <br>
    Start today!
    <br>
    <br>
    <%= link_to "Join", new_user_registration_path %>
  </div>
</div>
</div>
