<div class="body_info_singlepage">
  <section class="section_welcome">
    <div class="section_welcome_title">GET IN TOUCH</div><br><br>
    <div class="section_welcome_subtitle">
      Have questions? Contact us today on <%= link_to "contact@zweidesign.co", "mailto:contact@zweidesign.co"%>.
      <br>
      <br>
      Or find us on:
      <a href="https://www.facebook.com/ZweiDesign"><i class="fa fa-facebook"></i></a>,
      <a href="https://twitter.com/zweidesignapp"><i class="fa fa-twitter"></i></a>
      and
      <a href="https://www.pinterest.com/zweidesign"><i class="fa fa-pinterest"></i></a>.
    </div>
  </section>
</div>
