
<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_text">
    V seznamu na levi strani najdete vsa vaša prejeta in poslana sporočila. 
  </div>

</div>
</div>