
<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_text">
   Na levi strani iz seznama izberite sporočilo, ki ga želite prebrati in odprlo sem vam bo v tem oknu.<br><br>
   Aplikacija v fazi testiranja, zato vas prosimo, da nas obvestite, če boste naleteli na kakšne težave.
  </div>

</div>
</div>