<div class="body_info_singlepage">
  <section class="section_welcome">
    <div class="section_welcome_title">Dobrodošli na ZweiDesign.co</div><br><br>
    <div class="section_welcome_subtitle">IŠČETE INSPIRACIJO ZA SVOJ DOM?</div>
    <div class="section_welcome_text"> 
      ZweiDesign je platforma za prenove, gradnjo in urejanje, ki povezuje lastnike stanovanj in hiš s strokovnjaki z različnih področij. Oglejte si projekte talentiranih obrtnikov in podjetij s področja arhitekture, notranjega oblikovanja, dekoriranja, gradbenih del in urejanja okolice. <br><br>
    Ste oblikovalec ali pa ponudnik storitev? Registrirajte se in brezplačno predstavite svoje projekte. </div>
  </section>

  <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title"><%= link_to "Fotografije projektov", root_path %></div>
  </section>

 <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title"><%= link_to "Iskanje strokovnjakov", new_lead_path %></div>
  </section>

   <section class="section_our_team">
    <i class="fa fa-heart"></i>
    <div class="section_our_team_title"><%= link_to "Produkti", root_path %></div>
  </section>

  <section class="section_form">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="//sosed.us4.list-manage.com/subscribe/post?u=e833ef94f0704d1475029ac8e&amp;id=5387f2bff4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Prijavite se na ZweiDesign e-magazin!</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="elektronski naslov" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div class="clear"><input type="submit" value="Prijava" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
  </section>
  <section class="section_company_info">
<br><br>
    <div class="section_company_info_street">Moj sosed d.o.o.</div>
    <div class="section_company_info_tax_number">Davčna številka: 49595105</div>
    <div class="section_company_info_bank_account">TRR: SI56 0410 2000 2065 311</div>
    <div class="section_company_info_contact">Kontakt: info@sosed.si</div>
  </section>
</div>