<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">  
      <i class="fa fa-pencil"></i>         Delite povpraševanje </div>
    <div class="lead_new_explanation_second"> 
      <i class="fa fa-files-o"></i>        Spoznajte zainteresirane izvajalce </div>
    <div class="lead_new_explanation_third">  
      <i class="fa fa-check-square-o"></i> Dogovorite se za provizijo </div>
  </div>
  <div class="lead_new">
    <div class="lead_new_title">
      Gradbenik gradbeniku 
    </div>
    <div class="lead_new_instructions">
      Oddajte storitev, ki je ne izvajate - dogovorite se za provizijo. <br><br>Delite povpraševanje in povezali vas bomo z izvajalci, zainteresiranimi za sodelovanje.<br>
    </div>
  </div>
</section>
<section class="lead_new_we_help">
  <div class="lead_new_we_help_title">
    Zaslužite s projekti, ki jih ne morete sprejeti. Oddajte povpraševanje in se z izbranim izvajalcem dogovorite za provizijo. 
  </div>
  <div class="lead_new_we_help_categories_title">
    Uspešni so tisti, ki se znajo povezati.<br>
    Za vsako povpraševanje, ki ga boste oddali, si boste prislužili tudi Značko Sosed guruja. Kasneje bomo vse vaše pridobljene značke objavili tudi na vašem profilu.
  </div>
  <div class="lead_new_we_help_categories_list">
    <i class="fa fa-check-square-o"> Arhitekti</i> 
    <i class="fa fa-check-square-o"> Gradnja</i> 
    <i class="fa fa-check-square-o"> Zidarstvo</i> 
    <i class="fa fa-check-square-o"> Prenove</i>  
    <i class="fa fa-check-square-o"> Strojne instalacije</i> 
    <i class="fa fa-check-square-o"> Električne instalacije</i> 
    <i class="fa fa-check-square-o"> Slikopleskarstvo</i> 
    <i class="fa fa-check-square-o"> Fasade</i> 
    <i class="fa fa-check-square-o"> Strehe</i> 
  </div>
</section> 
<section class="lead_new_testimonials">
  <div class="lead_new_testimonials_text"><i class="fa fa-quote-left"></i>Super zadeva. S projekti, ki jih ne morem opraviti lahko torej vsaj nekaj zaslužim.<i class="fa fa-quote-right"></i>(Janez)</div>
  

  <div class="lead_new_testimonials_text"><i class="fa fa-quote-left"></i>Bravo, zdi se mi zelo pametno, da si podjetniki pomagamo med sabo. Enkrat dobiš projekt ti, drugič ga pa nekdo drug dobi preko tebe.<i class="fa fa-quote-right"></i>(Maja)</div>
  

  <div class="lead_new_testimonials_text"><i class="fa fa-quote-left"></i>Zelo pametna zadeva. Všeč mi je, da lahko preko aplikacije urejamo sodelovanje in se dogovarjamo glede provizije. Tako je vse črno na belem in je potem več verjetnosti za pozitivno sodelovanje.<i class="fa fa-quote-right"></i>(Srečko)</div>
</section>
<section class="section_form">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="//sosed.us4.list-manage.com/subscribe/post?u=e833ef94f0704d1475029ac8e&amp;id=5387f2bff4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Prijavite se na naše e-novice!</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="elektronski naslov" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div class="clear"><input type="submit" value="Prijava" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
  </section>
<section class="lead_new_company_info">
  <div class="lead_new_company_info_phone"> 080 4144</div>
  <div class="lead_new_company_info_name">Moj sosed d.o.o.</div>
  <div class="lead_new_company_info_address">Radehova 39, 2230 Lenart</div>
  <div class="lead_new_company_info_address">Jablonskistr. 24, 10405 Berlin</div>
  <div class="lead_new_company_info_contact"><%= mail_to "info@sosed.si", "info@sosed.si" %></div>
</section> 