
<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    Thank you!
  </div>
  <div class="payment_confirmation_text">
  <%= link_to "Your payment has been succesfully completed. To see all bought leads, visit your Address book", address_book_path %>.
  </div>

</div>
</div>
