<%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
  Message<br>
  <%= f.text_field :body %><br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= submit_tag 'Cancel', type: :reset, class: 'btn btn-danger' %>
  </div>
<% end %>