+below(500px)
  /* :::::::::::: APPLICATION.html.erb => menu buttons & login :::::::::::: */
  body
    margin 0px
    padding 0px
    .top_menu_bar
      position fixed
      top 0
      z-index 999
      width 100%
      height 48px
      background-color Menu-Top-Color
      blur-mixin(intensity =  0px)
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(255, 255, 255, 0.8);
      border-bottom 1px solid #ccc
      padding-top 3px
      font-family App-Font-Family
      .publish_project,
      .find-provider,
      .messages
        padding-bottom 3px
        font-size 10px
        -webkit-font-smoothing: antialiased
        font-weight bold
        display inline-block
      .publish_project
        left -16%
        button(Lead-Orange-dark)
        padding 8px 5px 8px 5px
        bottom 6px
        &:hover
          opacity 0.7
        a
          text-decoration none
          color Menu-Top-Button-Color
          font-size 9px
      .find_provider
        left 41%
        button(black)
        padding 8px 5px 8px 5px
        bottom 6px
        margin-left 4px
        margin-bottom: 10px;
        &:hover
          opacity 0.7
        a
          text-decoration none
          color white
          font-size 9px
      .messages
        visibility: hidden
      .logo
        left 1.4%
        top 6px
        height 30px
        display inline-block
        &:hover
          opacity 0.7
      .select_bar
        shift(0.17)
        display: inline-block;
        width: 200px;
        height: 30px;
        padding: 3px 3px;
        margin-bottom: 20px;
        font-size: 10px;
        line-height: 20px;
        color: #606060;
        vertical-align: middle;
        border: 0px
      .menu_bar_login
        left 1.5%
        button(white)
        border 1px solid #606060
        bottom 4px
        padding 4px
        font-size 10px
        &:hover
          opacity 0.7
          transition color .1s
        a
          text-decoration none
          color Menu-Top-Button-Color
      .info
        padding-bottom 2px
        shift(0.63)
        font-size 21px
        display inline-block
        .fa.fa-info-circle
          color Offer-Font-Color
          &:hover
            color Lead-Orange
