+below(720px)
  /* :::::::::::: APPLICATION.html.erb => menu buttons & login :::::::::::: */
  body
    margin 0px
    padding 0px
    .top_menu_bar
      position fixed
      top 0
      z-index 999
      width 100%
      background-color Menu-Top-Color
      blur-mixin(intensity =  0px)
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(255, 255, 255, 0.8);
      border-bottom 0.5px solid #ccc
      padding-top 0px
      font-family App-Font-Family
      .logged_user, 
      .not_logged_user
        shift 0.15
        padding-bottom 2px
        font-size 11px
        -webkit-font-smoothing: antialiased
        font-weight bold
        display inline-block
        &:hover
          opacity 0.7
        a
          text-decoration none
          color Menu-Top-Button-Color
      .publish_project,
      .messages
        padding-bottom 1px
        -webkit-font-smoothing: antialiased
        font-weight bold
        display inline-block
        &:hover
          opacity 0.7
        a
          text-decoration none
          color Menu-Top-Button-Color
      .publish_project
        shift 0.45
        font-size 10px !important
        button(Lead-Orange)
        bottom 5px
        margin-left 4px
      .messages
        shift 0.13
        font-size 18px
      .logo
        top 8px
        shift(0.04)
        height 31px
        display inline-block
        &:hover
          opacity 0.7
      .select_bar
        shift(0.3)
        display: inline-block;
        width: 100px;
        height: 20px;
        padding: 3px 6px;
        margin-bottom: 10px;
        font-size: 10px;
        line-height: 20px;
        color: #606060;
        vertical-align: middle;
        border: 0px
      .info
        padding-bottom 2px
        shift(0.63)
        font-size 21px
        display inline-block
        .fa.fa-info-circle
          color Offer-Font-Color
          &:hover
            color Lead-Orange   