<div class="body_dummy_orders_address_book">
  <div class="columns">
    <ul class="wookmark">
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Interior Designer
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        City</div>Berlin
        <div class="address_book_lead_subtitle">
          ZIP:</div>10405
        <div class="address_book_lead_subtitle">
          Description:</div>Looking for experienced interior designer for designing a new café in Prenzlauerberg.
        <div class="address_book_lead_subtitle">
          When?:</div> In the next 14 days
        <div class="address_book_lead_subtitle">
          Name:</div> Michelle
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0171 288 3732
        <div class="address_book_lead_subtitle">
          E-mail:</div> michelle@example.com
      </div>
    </div>

    <div class="lead_box">
      <div class ="address_book_lead_title">
        Architect
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        City</div>Berlin
        <div class="address_book_lead_subtitle">
          ZIP:</div>10117
        <div class="address_book_lead_subtitle">
          Description:</div>We are renovating older building that we plan to transform into office space. Need architect.
        <div class="address_book_lead_subtitle">
          When?:</div> In the next 3 months
        <div class="address_book_lead_subtitle">
          Name:</div> Alexander
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0152 348 5569
        <div class="address_book_lead_subtitle">
          E-mail:</div> alexander@example.com
      </div>
    </div>

    <div class="lead_box">
      <div class ="address_book_lead_title">
        Interior Designer
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        City</div>Kopenhagen
        <div class="address_book_lead_subtitle">
          ZIP:</div>10405
        <div class="address_book_lead_subtitle">
          Description:</div>Interior designer for private home.
        <div class="address_book_lead_subtitle">
          When?:</div> In the next 14 days
        <div class="address_book_lead_subtitle">
          Name:</div> Stine
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0171 288 3732
        <div class="address_book_lead_subtitle">
          E-mail:</div> stine@example.com
      </div>
    </div>

    <div class="lead_box">
      <div class ="address_book_lead_title">
        Many different professionals
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        City</div>London
        <div class="address_book_lead_subtitle">
          ZIP:</div>10405
        <div class="address_book_lead_subtitle">
          Description:</div>Looking for experienced interior designer for designing a new café in Prenzlauerberg.
        <div class="address_book_lead_subtitle">
          When?:</div> In the next 14 days
        <div class="address_book_lead_subtitle">
          Name:</div> Michelle
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0171 288 3732
        <div class="address_book_lead_subtitle">
          E-mail:</div> michelle@example.com
      </div>
    </div>

    <div class="lead_box">
      <div class ="address_book_lead_title">
        Interior Designer
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        City</div>Vienna
        <div class="address_book_lead_subtitle">
          ZIP:</div>10405
        <div class="address_book_lead_subtitle">
          Description:</div>Looking for experienced interior designer for designing a new café in Prenzlauerberg.
        <div class="address_book_lead_subtitle">
          When?:</div> In the next 14 days
        <div class="address_book_lead_subtitle">
          Name:</div> Michelle
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0171 288 3732
        <div class="address_book_lead_subtitle">
          E-mail:</div> michelle@example.com
      </div>
    </div>

    <div class="lead_box">
      <div class ="address_book_lead_title">
        Interior Designer
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        City</div>Barcelona
        <div class="address_book_lead_subtitle">
          ZIP:</div>10405
        <div class="address_book_lead_subtitle">
          Description:</div>Looking for experienced interior designer for designing a new café in Prenzlauerberg.
        <div class="address_book_lead_subtitle">
          When?:</div> In the next 14 days
        <div class="address_book_lead_subtitle">
          Name:</div> Michelle
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0171 288 3732
        <div class="address_book_lead_subtitle">
          E-mail:</div> michelle@example.com
      </div>
    </div>

    <div class="lead_box">
      <div class ="address_book_lead_title">
        Interior Designer
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        City</div>Amsterdam
        <div class="address_book_lead_subtitle">
          ZIP:</div>10405
        <div class="address_book_lead_subtitle">
          Description:</div>Looking for experienced interior designer for designing a new café in Prenzlauerberg.
        <div class="address_book_lead_subtitle">
          When?:</div> In the next 14 days
        <div class="address_book_lead_subtitle">
          Name:</div> Michelle
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0171 288 3732
        <div class="address_book_lead_subtitle">
          E-mail:</div> michelle@example.com
      </div>
    </div>

    <div class="lead_box">
      <div class ="address_book_lead_title">
        Interior Designer
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        City</div>Prague
        <div class="address_book_lead_subtitle">
          ZIP:</div>10405
        <div class="address_book_lead_subtitle">
          Description:</div>Looking for experienced interior designer for designing a new café in Prenzlauerberg.
        <div class="address_book_lead_subtitle">
          When?:</div> In the next 14 days
        <div class="address_book_lead_subtitle">
          Name:</div> Michelle
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0171 288 3732
        <div class="address_book_lead_subtitle">
          E-mail:</div> michelle@example.com
      </div>
    </div>

    <div class="lead_box">
      <div class ="address_book_lead_title">
        Interior Designer
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        City</div>Zürich
        <div class="address_book_lead_subtitle">
          ZIP:</div>10405
        <div class="address_book_lead_subtitle">
          Description:</div>Looking for experienced interior designer for designing a new café in Prenzlauerberg.
        <div class="address_book_lead_subtitle">
          When?:</div> In the next 14 days
        <div class="address_book_lead_subtitle">
          Name:</div> Michelle
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0171 288 3732
        <div class="address_book_lead_subtitle">
          E-mail:</div> michelle@example.com
      </div>
    </div>

    <div class="lead_box">
      <div class ="address_book_lead_title">
        Interior Designer
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        City</div>Frankfurt
        <div class="address_book_lead_subtitle">
          ZIP:</div>10405
        <div class="address_book_lead_subtitle">
          Description:</div>Looking for experienced interior designer for designing a new café in Prenzlauerberg.
        <div class="address_book_lead_subtitle">
          When?:</div> In the next 14 days
        <div class="address_book_lead_subtitle">
          Name:</div> Michelle
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0171 288 3732
        <div class="address_book_lead_subtitle">
          E-mail:</div> michelle@example.com
      </div>
    </div>
  </ul>
</div>
</div>
