<% @projects.each do |project| %>
 <ul>
    <h2><%= link_to "#{project.title}", project_path(project) %></h2> by <h3><%= project.email %></h3>
    <%= image_tag project.picture.url(:medium) %>
    <%= project.description %>
 </ul>
<% end %>