<div class="body_leads_show">
  <a class="back_to_main_page_button" href="/"></a>
    <div class="lead_show">
      <div class="lead_show_title">
        <%= link_to "#{@project_email}", user_path(id: User.all.where(email: @project.email).first.id)%>
      </div>
      <div class="lead_show_body">
        <div class="lead_show_items_short">      
          <div class="lead_show_item">             
            <div class="lead_show_subtitle"></div> 
            <%= image_tag @project.picture.url(:full), :size => "770x513" %>
          </div>
          <div class="lead_show_item">
            <div class="lead_show_subtitle"><%= @project_title %></div>
            <div class="lead_show_subtitle"></div> 
            <%= @project_description %>
          </div> 
        </div> 
      </div> 
    </div>
  </div>



