<div class="body_leads_show">
  <a class="back_to_main_page_button" href="/"></a>
    <div class="lead_show">
      <div class="lead_show_title">
        <%= link_to "#{@project.title}", user_path(id: User.all.where(email: @project.email).first.id)%>
      </div>
      <div class="lead_show_body">
        <div class="lead_show_items_short">      
          <div class="lead_show_item">             
            <div class="lead_show_subtitle"></div> 
            <%= image_tag @project.picture.url(:full), :width => "770" %>
          </div>
          <div class="lead_show_item">
            <div class="lead_show_subtitle">
              <%= link_to "#{@project_email}", user_path(id: User.all.where(email: @project.email).first.id)%>
              </div>
          </div> 
        </div> 
        <% if @project.email == current_user.email %>
          <div class="lead_show_buy"> 
            <%= link_to "Edit", edit_project_url(@project) %>
          </div>
        <% end %>
      </div> 
    </div>
  </div>



