<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Novo sporočilo na Sosed.biz: <%= @subject %></h1>
    <p>
      Prejeli ste novo sporočilo:
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Obiščite <%= link_to "Moja sporočila", conversations_url %> za več informacij.
    </p>
  </body>
</html>