<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Nov odgovor: <%= @subject %></h1>
    <p>
      Prejeli ste nov odgovor:
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Obiščite <%= link_to "Sporočila", conversations_url %> in si oglejte Prejeta sporočila.
    </p>
  </body>
</html>
