<p>Pozdravljeni, <%= @resource.email %>!</p>

<p>Nekdo je poslal zahtevo za spremembo gesla. Če želite spremeniti geslo, kliknite na povezavo spodaj.</p>

<p><%= link_to 'Spremeni geslo', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Če ne želite spremeniti gesla, prezrite to sporočilo.</p>
<p>Če ne boste kliknili na zgornjo povezavo in vnesli novega gesla, bo vaše geslo ostalo nespremenjeno.</p>
